a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_49364a9 a { text-decoration: none; }
#menu_49364a9_pane { background-color: #000000; border: 1px solid #000000; padding-top: 20px; padding-bottom: 20px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_49364a9_hr { background-color: #000000; height: 1px; border: none; }
#menu_49364a9_entry { padding-left: 20px; padding-right: 20px; padding-top: 3px; padding-bottom: 3px; }
#menu_49364a9_entry:hover { background-color: #D9DADA; color: #FF8000 !important; }
#menu_49364a9_entry:hover span { color:#FF8000 !important; }
		.menu_49364a9_mainMenuEntry { text-align: center; }
		.menu_49364a9_mainMenuEntry:hover {	background-color:#800040; }
		.menu_49364a9_mainMenuEntry:hover span {	color:#D9DADA !important; }
		#menu_49364a9 .mobileEntry { display: none; } 
		#menu_49364a9 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_49364a9 .mobileEntry { display: block; } 
			#menu_49364a9 .normalEntry { display: none; } 
		}
body { background-color:#000000; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#placeh_11784358 { position:absolute; left:2%; top:11%; width:87%; min-height:537px; min-width:200px; max-width:1400px; background-color:rgba(0, 255, 0, 0);  }
#menu_49364a9 { vertical-align: top; position:relative; display: inline-block; width:91%; height:61px; min-width:200px; max-width:1400px; text-align:left; background-color:rgba(255, 128, 0, 0.698039);  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:56px; height:61px; left:20px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:90px; height:61px; left:20px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle3 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#D9DADA; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:156px; height:61px; left:110px;  }
.menustyle4 { position:absolute; width:124px; height:61px; left:266px;  }
.menustyle5 { position:absolute; width:146px; height:61px; left:390px;  }
.menustyle6 { position:absolute; width:123px; height:61px; left:536px;  }
.menustyle7 { position:absolute; width:154px; height:61px; left:659px;  }
.menustyle8 { position:absolute; width:144px; height:61px; left:813px;  }
.textstyle4 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#D9DADA;  white-space: nowrap; }
.textstyle5 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle6 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#00FF00; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#00FF40; font-weight:bold;  white-space: nowrap; }
.textstyle8 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#FF0000; font-weight:bold;  white-space: nowrap; }
.textstyle9 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#C0C0C0; font-weight:bold;  white-space: nowrap; }
#container_3b62a34e { vertical-align: top; position:relative; display: inline-block; width:91%; min-height:1107px; max-width:1700px; background:none;  }
#container_3b62a34e_padding { margin: 600px 10px 10px 10px;display: block;  }
.textstyle10 { text-align:right; }
.textstyle11 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FF8000;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
